
.icon-mail:before { content: '\e800'; } /* '' */
.icon-coffee:before { content: '\e801'; } /* '' */
.icon-wine:before { content: '\e802'; } /* '' */
.icon-down-open:before { content: '\e803'; } /* '' */
.icon-left-open:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-up-open:before { content: '\e806'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */